.edit-restaurant-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-restaurant-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.edit-restaurant-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.edit-restaurant-input[type="file"] {
    padding: 5px;
}

.edit-restaurant-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.edit-restaurant-button:hover {
    background-color: #45a049;
}