backend/user_service/.env
backend/gateway/.env
backend/ratings/.env
backend/reports/.env
backend/restaurants/.env

frontend/rating-portal/src/images/OTOMAT ___ GENT.jpeg

frontend/rating-portal/src/components/Restaurant/RestaurantCard.js
frontend/rating-portal/src/images/homepageimg.jpg
frontend/rating-portal/src/images/image.png
frontend/rating-portal/src/images/littleindia.jpg
frontend/rating-portal/src/images/naan&curry.png
/backend/user_service/__pycache__
/backend/restaurants/__pycache__
/backend/user_service/__pycache__
/backend/user_service/__pycache__
/backend/venv
