.owner-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.owner-dashboard-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.create-restaurant-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.create-restaurant-button:hover {
    background-color: #45a049;
}

.restaurant-list {
    list-style-type: none;
    padding: 0;
}

.restaurant-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant-item h3 {
    margin: 0;
    color: #333;
}

.restaurant-item button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.restaurant-item button:hover {
    background-color: #007B9E;
}
