.my-reviews-dropdown {
    position: relative;
    display: block;
  }
  
  .circular-button {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circular-button:hover {
    background-color: #ff6347;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 70px;
    right: 0;
  }
  
  .dropdown-menu li {
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #ddd;
  }
  