.bg-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    background: url('../../images/background.jpg') no-repeat center center fixed;
    justify-content: center;
    background: none;
}

.text-center.mb-4 {
    color: #ffffff; 
    font-size: 32px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: #ff6347ea; 
    padding: 10px; 
    background-color: #ff6347; 
    border-radius: 5px; 
}


.container {
    width: 90%;
    max-width: 1200px;
    min-height: 500px;
    height: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    overflow: hidden;

}

.text-center {
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 45%;
}

.card {
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex: 1;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #333;
}

.badge {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}

.bg-success {
    background-color: #28a745;
}

.bg-danger {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 100%;
    }

    .form-control {
        width: 100%;
    }
}


