.add-restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-restaurant-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.add-restaurant-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.add-restaurant-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-restaurant-input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.add-restaurant-button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-restaurant-button:hover {
    background-color: #0056b3;
}